.squares {
  display: grid;
  grid-template-columns: repeat(3, 120px);
  grid-template-rows: repeat(3, 120px);
}

body {
  margin-left: 200px;
  height: 100vh;
  background: linear-gradient(to bottom right, blue, green, grey, red);
}
